body {
  font-family: 'Poiret One', cursive;
  background: linear-gradient(45deg, #6a3f9c, #b599d6);
  min-height: 100vh;
  color: white;
  margin: 0;
  text-align: center;
  display: grid;
  overflow-x: hidden;
  font-size: 20px;
}

.content {
  width: 100vw;
  margin: auto;
  word-wrap: break-word;
}

.text {
  font-size: 50px;
}

#year, #percent {
  display: block;
  font-size: 100px;
}

#percent {
  font-size: calc(10vw - 10px);
}

#percent:after {
  content: '%';
}

.details {
  margin: 30px;
  padding: 20px;
  border-top: 2px solid white;
}

.currTime {
  border-bottom: 2px solid white;
  margin: 30px;
}
